db/schema.rb
db/*.sqlite3
data.dump
config/database.yml
log/*.log
tmp/**/*
doc/api
doc/app
.svn
*.tmp
*_bak
*~
.DS_STORE
tmp
coverage
vendor/bundler_gems
vendor/gems/gems
vendor/gems/specifications
vendor/gems/doc
vendor/gems/environment.rb